{% extends "layout.html" %}

{% block title %}DM Wiki - About Band{% endblock %}

{% block content %}
    <div class="band-summary">
        <span class="summary-header">
            Depeche Mode for Newcomers
        </span>
        <span class="summary-text">
            <br>Depeche Mode are an English electronic band formed in 1980 in Basildon, Essex. Known for their dark, emotional sound and groundbreaking use of synthesizers, they’ve become one of the most influential and enduring acts in modern music. Over four decades, the band has sold more than 100 million records worldwide and inspired countless artists across genres.
        </span>
    </div>
    <div class="members">
        <span class="members-header">
            Members of Depeche Mode
        </span>
        <span class="members-text">
            <br>Depeche Mode has seen several lineup changes, each member leaving a unique mark on the band’s legacy. Dave Gahan, lead vocalist since 1980, is known for his powerful stage presence and emotional performances. Martin Gore, the main songwriter and guitarist, shaped the band’s darker, more introspective sound while contributing vocals and keyboards. Andy Fletcher, who passed away in 2022, anchored the group both musically and personally, helping keep the band together through decades of touring and recording. Founding member Vince Clarke wrote much of their debut Speak & Spell before leaving in 1981, while Alan Wilder refined their sound through the ’80s and early ’90s. Today, Depeche Mode continues as a duo with Gahan and Gore at the core.
        </span>
    </div>
    <div class="member-cards">
        <div>
            <span>
                Dave Gahan<br>
            </span>
            <a href="https://en.wikipedia.org/wiki/Dave_Gahan" target="_blank">
                <img src="static\images\dave.jpg" alt="Dave Gahan of Depeche Mode">
            </a>
                <span>
                <br>Lead singer of Depeche Mode. Band's frontman since 1980. He has had a significant contribution to the band with his iconic baritone voice.
            </span>
        </div>
        <div>
            <span>
                Martin Gore<br>
            </span>
            <a href="https://en.wikipedia.org/wiki/Martin_Gore" target="_blank">
                <img src="static\images\martin.jpg" alt="Martin Gore of Depeche Mode">
            </a>
            <span>
                <br>Main songwriter, guitarist, and keyboardist of Depeche Mode. He was a founding member in 1980. He is known for his lyrics and guitar work.
            </span>
        </div>
        <div>
            <span>
                Andy Fletcher<br>
            </span>
            <a href="https://en.wikipedia.org/wiki/Andy_Fletcher_(musician)" target="_blank">
                <img src="static\images\andy.jpg" alt="Andy Fletcher of Depeche Mode">
            </a>
            <span>
                <br>Bassist, business manager, and helped the band unite. He peacefully passed away in 2022 due to natural causes. 
            </span>
        </div>
        <div>
            <span>
                Vince Clarke<br>
            </span>
            <a href="https://en.wikipedia.org/wiki/Vince_Clarke" target="_blank">
                <img src="static\images\vince.jpg" alt="Vince Clarke of Depeche Mode">
            </a>
            <span>
                <br>Founding member of the band and a songwriter for their debut album <i>Speak & Spell</i>. He departed from the band at the end of 1981.
            </span>
        </div>
        <div>
            <span>
                Alan Wilder<br>
            </span>
            <a href="https://en.wikipedia.org/wiki/Alan_Wilder" target="_blank">
                <img src="static\images\alan.png" alt="Alan Wilder of Depeche Mode">
            </a>
            <span>
                <br>Musical director, producer, and shaper of the band's sound. He joined Depeche Mode in the January of 1982 and left on June 1st, 1995, his 36th birthday.
            </span>
        </div>
    </div>
{% endblock %}