{% extends "layout.html" %}

{% block title %}DM Wiki - Black Celebration{% endblock %}

{% block content %}
    <div class="album-overview">
        <span class="album-header">
            Black Celebration (1986)
        </span>
        <a href="https://en.wikipedia.org/wiki/Black_Celebration" target="_blank">
            <img src="static/images/black_celebration.png" alt="Black Celebration Album Cover" class="album-covers">
        </a>
        <span class="album-info">
            <br>Released in 1986, Black Celebration marked a shift toward darker, more atmospheric sounds for Depeche Mode. The album combines brooding synths, intricate electronic rhythms, and introspective lyrics, exploring themes of alienation, desire, and social commentary. Standout tracks like “Stripped” and “A Question of Time” highlight the band’s skill at blending mood and melody, making Black Celebration one of their most influential and critically acclaimed albums.
        </span>
        <div style="clear: both;"></div>
    </div>

    <div class="album-songs">
        <span class="songs-header">
            Songs from Black Celebration in order
        </span>
        <ul>
            <li><a href="https://youtu.be/4WtXSnh0Mu8?si=z4Y-ecekZbKKsgIU" target="_blank">Black Celebration</a> - Dark and atmospheric, exploring themes of oppression, reflection, and the weight of modern life.</li>
            <li><a href="https://youtu.be/h8s5Ll_w28w?si=PD0mnxDUz0A_rCup" target="_blank">Fly On the Windscreen</a> - Ethereal and melancholic, evoking solitude and longing through layered synths and haunting melodies.</li>
            <li><a href="https://youtu.be/glw10co1IRs?si=Nix4_Acii_TsVbUG" target="_blank">A Question of Lust</a> - Slow, introspective, and sensual, with lyrics delving into desire, vulnerability, and emotional tension.</li>
            <li><a href="https://youtu.be/a6GwBhERClY?si=ZFLqv6E94X7rsQR1" target="_blank">Sometimes</a> - Dreamy and contemplative, capturing fleeting emotions and moments of introspection.</li>
            <li><a href="https://youtu.be/cDDXggME33c?si=NdEL93354BH4KmWy" target="_blank">It Doesn't Matter Two</a> - Subtle and minimal, blending understated electronics with themes of detachment and indifference.</li>
            <li><a href="https://youtu.be/A4QAbaYPz38?si=MB_Lr8NyVI6AQ79-" target="_blank">A Question of Time</a> - Upbeat yet dark, reflecting on urgency, fate, and the passage of time through driving rhythms.</li>
            <li><a href="https://youtu.be/qU8UfYdKHvs?si=vEuVtHYCxyP4f4Tl" target="_blank">Stripped</a> - Brooding and intense, mixing industrial textures with lyrics about liberation, honesty, and inner struggle.</li>
            <li><a href="https://youtu.be/cabDGPZLpNk?si=LOgBsunr8xVlmzsJ" target="_blank">Here Is the House</a> - Haunting and cinematic, conveying isolation, longing, and the passage of time in a reflective setting.</li>
            <li><a href="https://youtu.be/w8CwOPqDiAc?si=huODfh2bNx4HUnXS" target="_blank">World Full Of Nothing</a> - Stark and atmospheric, with moody synths that explore emptiness and emotional distance.</li>
            <li><a href="https://youtu.be/WnuGnkS6Wos?si=jLR5_5mcOJpI-wGT" target="_blank">Dressed In Black</a> - Dramatic and intense, capturing conflict, identity, and the weight of societal pressures.</li>
            <li><a href="https://youtu.be/PV0WjVYukO8?si=-gBVY1v4bxyjJrUT" target="_blank">New Dress</a> - Bright yet tense, blending melodic hooks with themes of reinvention and self-expression.</li>
        </ul>
    </div>
{% endblock %}