<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/x-icon" href="static/images/favicon.jpg">
</head>
<body>

    <div class="background-triangle"></div>
    <img class="banner" src="static/images/banner.png" alt="DM Wiki Banner">
    <a href="{{ url_for('home') }}"><img class="logo" src="static/images/logo.png" alt="DM Wiki Logo"></a>
    <nav class="sidebar">
        <div class="navlinks">
            <ul>
                <li><a href="{{ url_for('about_band') }}" class="{%if active_page=='about_band' %}active{% endif %}">About Band</a></li>
                <li><a href="{{ url_for('history') }}" class="{%if active_page=='history' %}active{% endif %}">Band History</a></li>
                <li><a href="{{ url_for('music_videos') }}" class="{%if active_page=='music_videos' %}active{% endif %}">Music Videos</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
      
</body>
<footer class="footer">
    <p class="rights">This is <u><strong>NOT</strong></u> an official website. All rights belong to the band <a href="https://www.depechemode.com/" target="_blank" class="dmlink">Depeche Mode.</a></p>
    
    <div class="footer-icons">
        <a class="official" href="https://www.depechemode.com/" target="_blank"><img src="static/images/officialweb.png" alt="Official Depeche Mode Website"></a>
        <a class="yt" href="https://www.youtube.com/channel/UCM-CWGUijAC-8idv6k6Fygw" target="_blank"><img src="static/images/yt.png" alt="Official Depeche Mode Youtube"></a>
        <a class="insta" href="https://www.instagram.com/depechemode/?hl=en" target="_blank"><img src="static/images/instagram.png" alt="Official Depeche Mode Instagram"></a>
        <a class="fb" href="https://www.facebook.com/depechemode/" target="_blank"><img src="static/images/facebook.png" alt="Official Depeche Mode Facebook"></a>
        <a class="x" href="https://x.com/depechemode?lang=en" target="_blank"><img src="static/images/x.png" alt="Official Depeche Mode X"></a>
    </div>
    
    <p class="copyright">© Copyright Fibitius Chan 2025</p>
</footer>
</html>