{% extends "layout.html" %}

{% block title %}DM Wiki - Memento Mori{% endblock %}

{% block content %}
    <div class="album-overview">
        <span class="album-header">
            Memento Mori (2023)
        </span>
        <a href="https://en.wikipedia.org/wiki/Memento_Mori_(Depeche_Mode_album)" target="_blank">
            <img src="static/images/memento_mori.png" alt="Memento Mori Album Cover" class="album-covers">
        </a>
        <span class="album-info">
            <br>Memento Mori, released in 2023, is Depeche Mode’s fifteenth studio album and marks their return after a long hiatus. The album blends the band’s signature dark electronic sound with reflective, introspective lyrics that touch on mortality, love, and resilience. It features a mix of atmospheric synths, driving beats, and Dave Gahan’s emotive vocals, reaffirming the band’s enduring relevance in modern music. With critical acclaim for its production and songwriting, Memento Mori demonstrates that Depeche Mode continues to innovate while staying true to the style that has defined them for over four decades.
        </span>
        <div style="clear: both;"></div>
    </div>

    <div class="album-songs">
        <span class="songs-header">
            Songs from Memento Mori in order
        </span>
        <ul>
            <li><a href="https://youtu.be/S698DWXhu5I?si=M1SL1fGOq63pOj7-" target="_blank">My Cosmos Is Mine</a> - A moody, atmospheric track with pulsating synths and introspective lyrics about personal space and control.</li>
            <li><a href="https://youtu.be/3Y4MWULrLto?si=vJ08O4WSUIWYebTt" target="_blank">Wagging Tongue</a> - An energetic track with driving synths and sharp rhythms, exploring themes of communication, confrontation, and speaking one’s mind.</li>
            <li><a href="https://youtu.be/iIyrLRixMs8?si=EL5KNFDwnA0QJXe2" target="_blank">Ghosts Again</a> - A melodic song reflecting on loss and memory, blending haunting synths with Dave Gahan’s emotive vocals.</li>
            <li><a href="https://youtu.be/kTvqFEO9MGk?si=-N2Vch4e_2tw24vy" target="_blank">Don't Say You Love Me</a> - A soulful, blues-infused track that delves into the complexities of love and betrayal, featuring poignant lyrics and haunting melodies.</li>
            <li><a href="https://youtu.be/LemErXsJGV4?si=pZWCrgZFcU12OjLZ" target="_blank">My Favourite Stranger</a> - A minimalist, reflective track that explores isolation and the complexities of personal identity, with subtle electronics and introspective lyrics.</li>
            <li><a href="https://youtu.be/xhSNAwCUfLU?si=eBqXAPGt8rbVFhUa" target="_blank">Soul with Me</a> - A dark, introspective track blending brooding electronics with lyrics about intimacy, vulnerability, and emotional connection.</li>
            <li><a href="https://youtu.be/DovlFfkYQV0?si=Yexx9Cmi_GynoLL8" target="_blank">Caroline's Monkey</a> - A dark, industrial-infused track that explores the struggles of addiction and the emotional turmoil caused by persistent, self-destructive forces.</li>
            <li><a href="https://youtu.be/2HHc8pNn7x8?si=7dAem177L3mO_27i" target="_blank">Before We Drown</a> - A haunting, reflective piece about the fragility of relationships and the desperate urge to hold on before everything falls apart.</li>
            <li><a href="https://youtu.be/KoQNFQRegnw?si=6M4KNYBf0iN_vhgX" target="_blank">People Are Good</a> - A warm, uplifting track that emphasizes trust, kindness, and the positive nature of human connections.</li>
            <li><a href="https://youtu.be/NBfefZa0IHQ?si=MaZNYzLLDulmduu2" target="_blank">Always You</a> - A tender, introspective track reflecting on loyalty, love, and the enduring bond between two people.</li>
            <li><a href="https://youtu.be/Hig8cPsPlRc?si=chloN5pNBbqLTKCR" target="_blank">Never Let Me Go</a> - A dark, atmospheric track exploring themes of dependence, vulnerability, and the fear of being abandoned.</li>
            <li><a href="https://youtu.be/9DH0XTSkZHU?si=r6Rsi122b44MoJEw" target="_blank">Speak to Me</a> - A moody, intimate track that delves into the need for connection and the longing for understanding in relationships.</li>
        </ul>
    </div>
{% endblock %}