{% extends "layout.html" %}

{% block title %}DM Wiki - Music For The Masses{% endblock %}

{% block content %}
    <div class="album-overview">
        <span class="album-header">
            Music for the Masses (1987)
        </span>
        <a href="https://en.wikipedia.org/wiki/Music_for_the_Masses" target="_blank">
            <img src="static\images\music_for_the_masses.png" alt="Violator Album Cover" class="album-covers">
        </a>
        <span class="album-info">
            <br>Released in 1987, Music for the Masses saw Depeche Mode refining their dark, electronic sound into a more expansive and accessible style. The album balances atmospheric synths, driving beats, and introspective lyrics, exploring themes of desire, power, and human emotion. Tracks like “Strangelove” and “Never Let Me Down Again” showcase the band’s mastery of blending catchy hooks with moody, layered production. Critically acclaimed and commercially successful, Music for the Masses helped solidify Depeche Mode’s status as pioneers of synth-pop and alternative electronic music.
        </span>
        <div style="clear: both;"></div>
    </div>

    <div class="album-songs">
        <span class="songs-header">
            Songs from Music for the Masses in order
        </span>
        <ul>
            <li><a href="https://youtu.be/snILjFUkk_A?si=wCm6pl3PbIrA-w6D" target="_blank">Never Let Me Down Again</a> - A sensual, synth-driven track with lush textures, exploring desire and perspective.</li>
            <li><a href="https://youtu.be/FuQd1AIinK8?si=7pdC_yAM_YzMDaLy" target="_blank">The Things You Said</a> - Dark and brooding, highlighting obsession and intensity through haunting instrumentation.</li>
            <li><a href="https://youtu.be/u1xrNaTO1bI?si=uclXAPCV_UQGb4cK" target="_blank">Personal Jesus</a> - An iconic, rhythmic song blending bluesy guitar riffs with electronic beats, exploring faith and devotion in a modern context.</li>
            <li><a href="https://youtu.be/tsGkROPalMM?si=tRFXRwTaNZ2cPWm7" target="_blank">Halo</a> - A moody, atmospheric track with layered synths that evokes isolation and reflection.</li>
            <li><a href="https://youtu.be/s0Ev7Z2_SFM?si=Kz9CCu9R5XPLgK_B" target="_blank">Waiting for the Night</a> - Slow and cinematic, with ethereal synths capturing longing and anticipation through its lyrics.</li>
            <li><a href="https://youtu.be/aGSKrC7dGcY?si=qMHBhoT6su525mtl" target="_blank">Enjoy the Silence</a> - A melancholic yet melodic anthem, combining hypnotic synth lines with introspective lyrics about emotional restraint.</li>
            <li><a href="https://youtu.be/tX9H_TJwW_A?si=s-TiKWXLwIvvlg8m" target="_blank">Blue Dress</a> - Dark and textured, mixing industrial beats with introspective lyrics on identity and inner conflict.</li>
            <li><a href="https://youtu.be/MncRE0IbYj8?si=1ZH0cNFO0GXBcMmH" target="_blank">Clean</a> - Minimalist and driving, featuring stark synths and lyrics focused on renewal, cleansing, and moving forward.</li>
        </ul>
    </div>
{% endblock %}