{% extends "layout.html" %}

{% block title %}DM Wiki - Music For The Masses{% endblock %}

{% block content %}
    <div class="album-overview">
        <span class="album-header">
            Music for the Masses (1987)
        </span>
        <a href="https://en.wikipedia.org/wiki/Music_for_the_Masses" target="_blank">
            <img src="static/images/music_for_the_masses.png" alt="Violator Album Cover" class="album-covers">
        </a>
        <span class="album-info">
            <br>Released in 1987, Music for the Masses saw Depeche Mode refining their dark, electronic sound into a more expansive and accessible style. The album balances atmospheric synths, driving beats, and introspective lyrics, exploring themes of desire, power, and human emotion. Tracks like “Strangelove” and “Never Let Me Down Again” showcase the band’s mastery of blending catchy hooks with moody, layered production. Critically acclaimed and commercially successful, Music for the Masses helped solidify Depeche Mode’s status as pioneers of synth-pop and alternative electronic music.
        </span>
        <div style="clear: both;"></div>
    </div>

    <div class="album-songs">
        <span class="songs-header">
            Songs from Music for the Masses in order
        </span>
        <ul>
            <li><a href="https://youtu.be/snILjFUkk_A?si=wCm6pl3PbIrA-w6D" target="_blank"><span class="song-names">Never Let Me Down Again</span></a><br>An anthemic, driving track about trust, surrender, and the exhilaration of letting go.</li>
            <li><a href="https://youtu.be/FuQd1AIinK8?si=7pdC_yAM_YzMDaLy" target="_blank"><span class="song-names">The Things You Said</span></a><br>Dark and introspective, exploring communication, regret, and emotional complexity in relationships.</li>
            <li><a href="https://youtu.be/MHRabky4Ajc?si=yHbmRi0c997kfiY6" target="_blank"><span class="song-names">Strangelove</span></a><br>Catchy yet brooding, blending synth-pop hooks with lyrics about desire, obsession, and vulnerability.</li>
            <li><a href="https://youtu.be/_IInPI2TVDc?si=pZq-7Ortnd84hxeC" target="_blank"><span class="song-names">Sacred</span></a><br>Atmospheric and mysterious, evoking tension and reflective moods through layered electronics.</li>
            <li><a href="https://youtu.be/OTUlg__sVYo?si=8-LqME5bwqhehwFz" target="_blank"><span class="song-names">Little 15</span></a><br>Soft and minimalist, highlighting isolation, introspection, and subtle emotional undercurrents.</li>
            <li><a href="https://youtu.be/VEAuMiKqP-4?si=XSunj9levfOm9FDI" target="_blank"><span class="song-names">Behind The Wheel</span></a><br>Pulsing and rhythmic, capturing themes of pursuit, control, and the dynamics of power.</li>
            <li><a href="https://youtu.be/yCTECcEg1yc?si=LmiNHedOFTNPyRF5" target="_blank"><span class="song-names">I Want You Now</span></a><br>Urgent and passionate, with driving beats reflecting immediate desire and longing.</li>
            <li><a href="https://youtu.be/xEAO3fTQiQQ?si=xirvuGw7E3LZOoUw" target="_blank"><span class="song-names">To Have And To Hold</span></a><br>Slow and contemplative, exploring themes of attachment, commitment, and emotional tension.</li>
            <li><a href="https://youtu.be/4Xcbz7jT7-0?si=uvG0EpDacF4idZm0" target="_blank"><span class="song-names">Nothing</span></a><br>Stark and moody, with synth-driven melodies conveying emptiness and alienation..</li>
            <li><a href="https://youtu.be/JPLKem4OYYo?si=vQ26o21yRtO32KgE" target="_blank"><span class="song-names">Pimpf</span></a><br>Instrumental and intense, a dark, cinematic piece that closes the album with dramatic tension.</li>
        </ul>
    </div>
{% endblock %}