{% extends "layout.html" %}

{% block title %}DM Wiki - Music Videos{% endblock %}

{% block content %}
    <div class="music-videos">
        <span class="mv-header">
            Music Videos - Depeche Mode Top Hits
        </span>
        <span class="mv-text">
            <br>Here, you can discover the music videos of Depeche Mode's top hits! Scroll down for more.
        </span>
    </div>
    <div class="enjoy-the-silence-mv">
        <span class="mv-header">
            Enjoy the Silence
        </span>
        <a href="https://www.youtube.com/watch?v=aGSKrC7dGcY" target="_blank">
            <img class="enjoythesilence" 
                src="https://img.youtube.com/vi/aGSKrC7dGcY/hqdefault.jpg" 
                alt="Enjoy The Silence - Depeche Mode">
        </a>
    </div>
    <div class="everything-counts-mv">
        <span class="mv-header">
            Everything Counts
        </span>
    </div>
{% endblock %}