{% extends "layout.html" %}

{% block title %}DM Wiki - Music Videos{% endblock %}

{% block content %}
<div class="music-videos">
    <span class="mv-header">
        Depeche Mode's Top Hits - Music Videos
    </span>
    <span class="mv-text">
        <br>Here, you can discover the music videos of Depeche Mode's top hits! Explore the visuals behind their iconic songs, learn more about each track, and enjoy a journey through the band's creative evolution. Scroll down to watch and immerse yourself in their world.
    </span>
</div>
<div class="mvs">
    <span class="mv-header">
        Enjoy the Silence (Violator)
    </span>
    <a href="https://www.youtube.com/watch?v=aGSKrC7dGcY" target="_blank">
        <img class="mv" 
            src="https://img.youtube.com/vi/aGSKrC7dGcY/hqdefault.jpg" 
            alt="Enjoy The Silence - Depeche Mode">
    </a>
</div>
<div class="mvs">
    <span class="mv-header">
        Just Can't Get Enough (Speak & Spell)
    </span>
    <a href="https://www.youtube.com/watch?v=_6FBfAQ-NDE" target="_blank">
        <img class="mv"
            src="https://img.youtube.com/vi/_6FBfAQ-NDE/hqdefault.jpg"
            alt="Just Can't Get Enough - Depeche Mode">
    </a>
</div>
<div class="mvs">
    <span class="mv-header">
        Personal Jesus (Violator)
    </span>
    <a href="https://www.youtube.com/watch?v=u1xrNaTO1bI" target="_blank">
        <img class="mv"
            src="https://img.youtube.com/vi/u1xrNaTO1bI/hqdefault.jpg"
            alt="Personal Jesus - Depeche Mode">
    </a>
</div>
<div class="mvs">
    <span class="mv-header">
        Never Let Me Down Again (Music for the Masses)
    </span>
    <a href="https://www.youtube.com/watch?v=snILjFUkk_A" target="_blank">
        <img class="mv"
            src="https://img.youtube.com/vi/snILjFUkk_A/hqdefault.jpg"
            alt="Never Let Me Down Again - Depeche Mode">
    </a>
</div>
<div class="mvs">
    <span class="mv-header">
        Policy of Truth (Violator)
    </span>
    <a href="https://www.youtube.com/watch?v=M2VBmHOYpV8" target="_blank">
        <img class="mv"
            src="https://img.youtube.com/vi/M2VBmHOYpV8/hqdefault.jpg"
            alt="Policy of Truth - Depeche Mode">
    </a>
</div>
<div class="mvs">
    <span class="mv-header">
        Shake the Disease (Black Celebration)
    </span>
    <a href="https://www.youtube.com/watch?v=r_0sL_SQYvw" target="_blank">
        <img class="mv"
            src="https://img.youtube.com/vi/r_0sL_SQYvw/hqdefault.jpg"
            alt="Shake the Disease - Depeche Mode">
    </a>
</div>
{% endblock %}